<div class="row">

    <div class="col col-md-6 col-lg-4 col-xl-3" *ngFor="let dados of objetoDados">

        <div class="card linha-card mt-2">
            <div class="card-header py-1">
                <h6 class="d-inline">#</h6>
                <span>{{dados?.id}}</span>
            </div>
            <div class="card-body">

                <ng-container *ngFor="let campo of campos; let i = index">
                    <ng-container *ngIf="i != 0">
                        <h6 class="mb-0" [ngClass]="{'mt-0': i==1, 'mt-3': i!=1}">{{campo | primeiraMaiuscula}}:</h6>
                        <span>{{dados[campo] | mascaraNumero:campo }}</span>
                    </ng-container>
                </ng-container>

            </div>

            <div class="card-footer py-2" *ngIf="exibeEditar || exibeExcluir">
                <a *ngIf="exibeEditar" (click)="eventoEditar(dados?.id)" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                <a *ngIf="exibeExcluir" (click)="eventoExcluir(dados?.id)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash"></i></a>
            </div>

        </div>

    </div>

</div>