<div class="row mt-3 mt-md-0 justify-content-center">

    <ng-container *ngIf="totalPaginas!=0">

        <div class="col-6 text-center">

            <a class="btn btn-outline-secondary btn-sm mr-1" 
                (click)="eventoAlterarPagina(paginaAtual-1)" *ngIf="paginaAtual!=0">
    
                <i class="fa fa-angle-double-left"></i>
            </a>
    
            <span>{{paginaAtual+1}} de {{totalPaginas}}</span>
    
            <a class="btn btn-outline-secondary btn-sm ml-1" 
                (click)="eventoAlterarPagina(paginaAtual+1)" *ngIf="(paginaAtual+1)!=totalPaginas && totalPaginas!=0">
    
                <i class="fa fa-angle-double-right"></i>
            </a>
        
        </div>

        <div class="col-6">
            <form class="form-inline float-md-right">
                <label for="size" class="mr-2 d-none d-sm-block">Exibir:</label>
                <select name="size" id="size" class="form-control form-control-sm"
                    (change)="eventoAlterarQtdPorPagina($event.target.value)">
                    
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="12">12</option>
                </select>
            </form>
        </div>

    </ng-container>

</div>
 


    

      