<div class="container-fluid">

    <div class="row justify-content-center">

        <div class="col-12 col-md-11 mb-3" *ngIf="(paginaContatos$ | async) as paginaContatos">

            <a [routerLink]="['cadastrar']" class="btn btn-info mt-5 mb-4"><i class="fa fa-plus mr-1"></i>Cadastrar</a>
        
            <ng-container *ngIf="paginaContatos.content.length != 0">

                <!--Componentes de busca-->
                <busca [totalDePaginas]="paginaContatos.totalPages" [paginaAtual]="paginaContatos.number" 
                (emitNome)="buscarPorNome($event)" (emitBuscarPorPagina)="buscarPorPagina($event)" 
                    (emitQtdPorPagina)="setQtdPorPagina($event)">
                </busca> 
    
                <!--Exibição-->
                <exibicao [contatos]="paginaContatos.content" (excluir)="atualizarLista()"></exibicao>

            </ng-container>

            <div class="alert alert-warning text-center" *ngIf="paginaContatos.content.length == 0">
                Nenhum <span class="font-weight-bolder">contato</span> cadastrado!
            </div>
                    
        </div>

    </div>

</div>

