<div class="row">

    <div class="col-sm-2">

      <select name="size" class="form-control" (change)="onChange($event.target.value)">
        <option value="3">3</option>
        <option value="6">6</option>
        <option value="12">12</option>
      </select>

    </div>

    <div class="col-sm-10">

      <nav>
        <ul class="pagination">
          <li #f class="page-item" *ngFor="let a of getTotalPages();let i = index">
            <a href="#" (click)="onClick(i,f)" *ngIf="setPrimeiroElemento(f,i)" class="page-link">{{i+1}}</a>
          </li>
        </ul>
      </nav>

    </div>

</div>