<div class="table-responsive">

    <table class="table table-striped table-sm">
        <thead>
            <tr class="nao-quebra-tabela">
                <ng-container *ngFor="let campo of campos">
                    <th *ngIf="campo === 'id' ">#</th>
                    <th *ngIf="campo !== 'id' ">{{campo | primeiraMaiuscula}}</th>
                </ng-container>
                <th class="text-center" *ngIf="exibeEditar || exibeExcluir">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dados of objetoDados" class="nao-quebra-tabela">
                <ng-container *ngFor="let campo of campos">
                    <td>{{dados[campo] | mascaraNumero: campo }}</td>
                </ng-container>
                <td class="text-center" *ngIf="exibeEditar || exibeExcluir">
                    <a *ngIf="exibeEditar" (click)="eventoEditar(dados.id)" class="btn btn-info btn-sm mr-1" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                    <a *ngIf="exibeExcluir" (click)="eventoExcluir(dados.id)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div> 