<div class="container-fluid">

    <div class="row justify-content-center">

        <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-3 mb-4">

            <a routerLink="/contatos" class="btn btn-outline-secondary mb-4 mt-5"><i class="fa fa-undo mr-1"></i>Voltar</a>

            <form [formGroup]="formCadastro" (submit)="enviar()" class="mt-3">

                <div class="form-group">
                    <label for="nome" class="mb-0">Nome:</label>
                    <input formControlName="nome" type="text" id="nome" class="form-control" 
                        [ngClass]="{'is-invalid': verificaCampo('nome')}" autocomplete="off">

                    <div class="invalid-feedback" *ngIf="formCadastro.get('nome').errors?.required">Nome é requerido!</div>
                    <div class="invalid-feedback" *ngIf="formCadastro.get('nome').errors?.maxlength">Nome maior que 50 caracteres</div>

                </div> 
            
                <div class="form-group">
                    <label for="celular" class="mb-0">Celular:</label>
                    <input formControlName="celular" type="text" id="celular" class="form-control" [textMask]="{mask:maskCelular}"
                        [ngClass]="{'is-invalid': verificaCampo('celular')}" autocomplete="off">

                    <div class="invalid-feedback" *ngIf="formCadastro.get('celular').errors?.required">Celular é requerido!</div>
                
                </div>
                        
                <div class="form-group">
                    <label for="telefone" class="mb-0">Telefone:</label>
                    <input formControlName="telefone" type="text" id="telefone" class="form-control" [textMask]="{mask:maskTelefone}"
                        [ngClass]="{'is-invalid': verificaCampo('telefone')}" autocomplete="off">

                    <div class="invalid-feedback" *ngIf="formCadastro.get('telefone').errors?.required">Telefone é requerido!</div>
                </div>
                        
                <div class="form-group">
                    <label for="email" class="mb-0">Email:</label>
                    <input formControlName="email" type="email" id="email" class="form-control"
                        [ngClass]="{'is-invalid': verificaCampo('email')}" autocomplete="off">

                    <div class="invalid-feedback" *ngIf="formCadastro.get('email').errors?.required">Email é requerido!</div>
                    <div class="invalid-feedback" *ngIf="formCadastro.get('email').errors?.email">Email invalido!</div>
                    <div class="invalid-feedback" *ngIf="formCadastro.get('email').errors?.maxlength">Email maior que 80 caracteres!</div>

                </div>
                        
                <button [disabled]="formCadastro.invalid" type="submit" class="btn btn-success mt-3"><i class="fa fa-save mr-1"></i>Cadastrar</button>
            
            </form>

        </div>

    </div>

</div>